
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(materialize/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.info > i {
  font-size: 13px;
}

*{
  font-family: 'Quicksand', sans-serif;
}
.chip{
  background: linear-gradient(to right, #1d976c75, #93f9b885);
}
.card-title{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin-top: -20px;
}

.beau{
  border-radius: 20px;
  margin-bottom: 15px;
  background: transparent;
  color:cyan;
  border: cyan 1px solid;
}

.im{
width: 10%;
}
.livre {
  max-height: 250px;
}
.mr{
  margin-right: 1rem;
}
.shad{
  box-shadow: 4px 4px 8px #cccccc5d,
             -4px -4px 8px #cccccc5d;
}

.inno{
  text-shadow: 5px 5px 8px rgb(18, 247, 255),
  -5px -5px 10px rgb(18, 255, 196);
}
.prefix{
  background: linear-gradient(to right, #000000, #686767);
  border-top-left-radius: YYpx;
  border-bottom-left-radius: 30px;
  padding-top: 14px;
  scroll-padding-left: 5px;
  height: 57px;
  width:fit-content;
  margin-top: -7.5px;
  left: 0px;
  color: rgb(4, 160, 160);
}
.prefix:focus{
  color: white;
}
#searchInput{
  border: none;
  background: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 8px;
  height: 55px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175)
}

@media only screen and (max-width: 770px) {
 .chip{
  font-size: 8px;
  line-height: 7.5px;
  height: 15px;

  }
  .chip > .material-icons { 
    font-size: 8px;
    line-height: 7.5px;

  }
  .card-content p{
    font-size: 10px;
    line-height: 12px;
  }
  .powerfull{
    text-align: center;
  }

}